<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oliveapp.liveness">
    <!-- 活体检测 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 获取机型信息权限 -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name="com.oliveapp.liveness.sample.liveness.SampleResultActivity"
            android:label="活体检测结果界面"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.oliveapp.liveness.sample.liveness.SampleStartActivity"
            android:label="开始活体检测界面"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.oliveapp.liveness.sample.idcard_captor.SampleImageCaptureActivity"
            android:label="翻拍证件照界面"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.oliveapp.liveness.sample.SampleLaunchActivity"
            android:label="启动界面"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.oliveapp.liveness.sample.SampleTestActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.oliveapp.liveness.sample.liveness.SampleLivenessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.oliveapp.liveness.sample.liveness.view_controller.LivenessDetectionMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.oliveapp.liveness.sample.register.SampleChooseCameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.oliveapp.liveness.sample.register.SampleCameraResultActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>